{% extends 'index.html' %}
{% block title %} AboutUs
{%endblock%}
{% block content %}
<head>
    <style> body{background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-5811-jj-08_5.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=70fd0a870a9cb7abe746b35b86ed509d);
    background-size: cover;
    }
    </style>
  </head>
 
  <body>
    
    <center> <p><font size="7" color="white">Music Will Tear Down The Walls</font></p>
    </center>
 </body>
 <body>
    &#160;
 </body>
 <pre>
 </pre>
 
 <body>
    

    <center> <p><font size="5" color="white"> 
    <pre> 
This Is A Techno/Industrial Music Vinyl Shop Page,Which Try To Develop
This Type of Music in Georgia.We Will Widespread And Have 
Oppourtunity To Share With Each Other Our Favorite Label,
Tracks And Release.But Until That Stay Safe And Stay Clean.
    </pre>
    </font></p>
    </center>
 </body>




{% endblock %} 